* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Karla';
  src: url('assets/fonts/Karla/Karla-VariableFont_wght.ttf') format(truetype);
  font-style: normal;
}
@font-face {
  font-family: 'Karla';
  src: url('assets/fonts/Karla/Karla-Italic-VariableFont_wght.ttf')
    format(truetype);
  font-style: italic;
}
body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  background-color: #0b2434;
  padding: 20px;
  height: 100vh;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #f5f5f5;
  height: 400px;
  max-width: 800px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size: 40px;
  margin: 0;
}
.instructions {
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}
.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.die-face {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.die-num {
  font-size: 2rem;
}

.roll-dice {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 6px;
  background-color: #5035ff;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
}

.roll-dice:focus {
  outline: none;
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
